*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
build/
workspace.xml
local.properties
ks.properties
.classpath
.project
.DS_Store
lint.xml
protected_strings.xml
.gradle
/dist

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs